html, body {
	margin: 0px;
	background: #fff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:0.95em;
	color:#4d4948;
}

h1 {
	font-size:150%;
	margin:0px;
	padding:0px;
}

a {
	color:#4d4948;
}

.clear {
	clear:both;
}

#wrapper {
	margin:50px auto 0 auto;
	background:url('layout/wrapper-bg.png') no-repeat;
	width:765px;
	height:356px;
}

#wrapper #content {
	padding:45px 30px 0 30px;
}

#wrapper #content #left-nav {
	float:left;
	font-size:95%;
}

#wrapper #content #left-nav ul {
	padding:0 0 50px 0;
	margin:0;
}

#wrapper #content #left-nav ul li {
	padding:0;
	margin:0;
	list-style:none;
}

#wrapper #content #left-nav ul li a {
	text-decoration:none;
}

#wrapper #content #left-nav ul li a:hover {
	color:#ff0505;
	text-decoration:underline;
}

#wrapper #content #left-nav #build a {
	background:url('layout/latest-build.jpg');
	width:155px;
	height:124px;
	display:block;
}

#wrapper #content #left-nav #build a span {
	display:none;
}

#wrapper #content #main {
	float:right;
	width:500px;
	font-size:90%;
}

#wrapper #content #main #regbox {
	padding: 15px 0 0 0;
}

#wrapper #content #main #regbox label {
	width:100px;
	float:left;
}


#wrapper #errors {
	margin-top:15px;
	color:#4d4948;
	background-color:#fffebe;
	border: 1px solid #cbcbcb;
	font-size:90%;
}

#wrapper #success {
	margin-top:15px;
	color:#4d4948;
	background-color:#bce9b5;
	border: 1px solid #7ace6c;
	padding:10px;
}

